.reviewFormLabel {
    margin-left: 10px;
}

.formInput {
    border: rgba(2, 92, 17, 0.12) 1px solid;
    padding: 0.5rem;
    border-radius: 5px;
}

.reviewForm {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: start;
    justify-content: start;
    column-gap: 10px;
    row-gap: 15px;
    align-items: center;
}