.header {
    background: #0092aa;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px !important;
}

.headerPanel {
    display: flex;
    gap: 10px;
}

.mainPanel {
    flex-grow: 1;
    text-align: left;
}