.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: #0092aa;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px !important;
}

main {
    flex-grow: 1;
}

footer {
    background: #0092aa;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px !important;
}

.tab-header-panel {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
    padding: 0;
}

.menu > li {
    border: rgba(2, 92, 17, 0.12) 1px solid;
    padding: 10px;
}

.menu-item-count-block {
    display: flex;
    gap: 10px;
    align-items: center;
}

.tab-content {
    border: rgba(2, 92, 17, 0.12) 1px solid;
    padding: 10px;
    margin: 10px;
}

.small-header {
    font-weight: bolder;
    margin-bottom: 1rem;
}

.restaurant {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.scroll-progress-bar {
    height: 20px;
    background-color: rgba(142, 142, 142, 0.73);
    position: fixed;
    top: 0;
}

.review-form {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: start;
    justify-content: start;
    column-gap: 10px;
    row-gap: 15px;
    align-items: center;
}

.review {
    border: rgba(2, 92, 17, 0.12) 1px solid;
    padding: 1rem;
}

.review + .review {
    margin-top: 1rem;
}